<div class="row">
    <div class=" col-lg-6">
        <h1 class="page-header">Listando Assuntos/Áreas</h1>
          <hr class="with-border">
    </div>
    <!-- /.col-lg-6 -->
</div>

<div class="table-responsive">
<table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Descrição</th>
                <th><%= link_to new_admins_backoffice_subject_path, class:"btn btn-success btn-circle" do %>
                <i class="fas fa-plus "></i>
                </th>
                <% end %>
            </tr>
        </thead>
        <tbody>
        <% @subjects.each do |subject| %>
            <tr>
              <td><%= subject.id %></td>
              <td><%= subject.description %></td>
              <td width="110px">
              <%= link_to edit_admins_backoffice_subject_path(subject), class:"btn btn-info btn-circle" do %>
                <i class="fas fa-edit "></i>
              <% end %>
              <%= link_to admins_backoffice_subject_path(subject), method: :delete, class:"btn btn-danger btn-circle", data:{confirm: "Deseja realmente excluir esse assunto/área?"} do %>
                <i class="fas fa-trash "></i>
              <% end %>
            </tr>
            <% end %>
        </tbody>
    </table>
    <div class="text-center">
      <%= paginate @subjects %>
    </div> 
</div>

    